@{
    ViewData["Title"] = "Home Page";
}

<style rel="stylesheet">
    
    body {
        background-color: #cff;
    }
    /*azul claro*/
    h2 {
        background-color: #f00;
         
    }
    /* vermelho */
    p {
        background-color: #0f0;
    }
    /*  verde   */
</style>


<div class="text-center">
    <h1>Blog Filmes</h1>
</div>

<div class="row">
    <div>
        <div>
            <h2 class="col-2">Noticias</h2>
            <br>
            <h3><strong>Doutor Estranho 2 deve ter retorno de roteirista do primeiro filme</strong></h3>
    <img src="~/Img/doutor-estranho-capa_KpxH54d.jpg" />
    <p> <h5> A Marvel oficializou hoje na San Diego Comic-Con a sequência de Doutor Estranho. Com o título Doctor Strange in the <br>Multiverse of Madness (Doutor Estranho no Multiverso da Loucura, em tradução livre), o filme chegará aos cinemas <br>em 7 de maio de 2021. O diretor Scott Derrickson, que comandou o longa original do herói, retorna para a <br>continuação. Ao público da San Diego Comic-Con, ele disse que este será "o primeiro filme de terror da Marvel"....</h5></p> 
</div>
        <br>
        <div>
            <h3><strong>VELOZES & FURIOSOS: HOBBS & SHAW</strong></h3>
            <img src="~/Img/HobbsShaw.retang.jpg" />
            <p><h5>Desde que se conheceram, Luke Hobbs (Dwayne Johnson) e Deckard Shaw (Jason Statham) constantemente bateram de frente, <br>não só por inicialmente estarem em lados opostos mas, especialmente, pela personalidade de cada um. Agora, a <br>dupla precisa unir forças para enfrentar Brixton (Idris Elba), um homem alterado geneticamente que deseja obter um <br>vírus mortal para pôr em andamento um plano que mataria milhões de pessoas em nome de uma suposta evolução da <br>humanidade. Para tanto eles contam com a ajuda de Hattie (Vanessa Kirby), irmã de Shaw, que é também agente do <br>MI6, o serviço secreto britânico.</h5></p>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>

<link href="~/css/Home.css" rel="stylesheet" />